<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pergunta 2</title>
</head>
<body>
    <h1>Pergunta 2</h1>
    
    <p>2. Qual é o nome do bairro onde fica o famoso estádio do Maracanã?</p>

    <form method="POST">
        <input type="radio" name="resposta" value="1" required>Lapa<br>
        <input type="radio" name="resposta" value="2">Tijuca<br>
        <input type="radio" name="resposta" value="3">Maracanã<br>
        <br>
        <button type="submit">Responder</button>
    </form>
</body>
</html>