<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>4° Pergunta</title>
</head>
<body>
    <h1>4° Pergunta</h1>
    <!-- Exemplo: "Qual a capital do Brasil?" -->
    <p>O Rio de Janeiro foi a capital do Brasil até qual ano?</p>

    <form method="POST">
        <input type="radio" name="resposta" value="1" required> 1960<br>
        <input type="radio" name="resposta" value="2"> 1970<br>
        <input type="radio" name="resposta" value="3"> 1980<br>
        <input type="radio" name="resposta" value="4"> 1990<br>
        <br>
        <button type="submit">Responder</button>
    </form>
</body>
</html>
