<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pergunta 1</title>
</head>
<body>
    <h1>Pergunta 1</h1>
    
    <p>1. Qual é o ponto turístico mais antigo do Rio de Janeiro?</p>

    <form method="POST">
        <input type="radio" name="resposta" value="1" required>Cristo Redentor<br>
        <input type="radio" name="resposta" value="2">Pão de Açúcar<br>
        <input type="radio" name="resposta" value="3">Jardim Botânico<br>
        <br>
        <button type="submit">Responder</button>
    </form>
</body>
</html>